<%= render "shared/header"%>
    
  <div class="container">
    <div class="form-wrapper">
      <%= form_with model: @profile,url: user_profile_path, local: true do |f| %>
          <div class="form-group">
            <%= f.label :"プロフィール画像" %><br />
            <%= f.file_field :image  %>
          </div>

          <div class="form-group">
            <%= f.label :"紹介文" %><br />
            <%= f.text_area :info, class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "編集する", class: "btn-sm btn-dark" %>
          </div>
      <% end %>
    </div>
  </div>

<%= render "shared/footer"%>