<%= render "shared/header"%>
    
  <div class="container">
    <div class="form-wrapper">
    <%= render 'shared/error_messages', model: @comment %>
      <%= form_with model: @comment, url: post_comments_path,local: true do |f| %>

        <div class="form-group">
          <%= f.label :"コメント" %><br />
          <%= f.text_area :comment, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "コメントする", class: "btn-sm btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>

<%= render "shared/footer"%>