<nav class="header-bar navbar-dark bg-dark fixed-top">
<% if user_signed_in? %>
  <div class="header-right"><%= link_to posts_path do%>
  <%= image_tag 'logo.png' , size: '160x80'  %>
  <% end %>
  </div>
<% else %>
  <div class="header-right"><%= link_to new_user_session_path do%>
  <%= image_tag 'logo.png' , size: '160x80'  %>
  <% end %>
  </div>
<% end %>

  <div class="header-center"><% if user_signed_in? %>
  <i class="fas fa-running">：<%= link_to  current_user.name , user_path(current_user.id), class:"current_name" %></i>
<% end %></div>
 <div class="header-left"><% unless user_signed_in? %>
      <%= link_to new_user_session_path, class: "log login" do%>
        <i class="fas fa-door-open">ログイン</i>
      <% end %>
      <%= link_to  new_user_registration_path, class: "log" do%>
      <i class="fas fa-sign-in-alt">サインアップ</i>
      <% end %>
    <% else %>
      <%= link_to destroy_user_session_path, method: :delete, class:"log" do%>
      <i class="fas fa-sign-out-alt">ログアウト</i>
      <% end %>
    <% end %></div>
</nav>



 