<div class ="card">
  <div class="image-body">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image, class: "image-size" %>
    <% end %>
  </div>
  <div class="text-body">
    
      <div class="options">
        <% if user_signed_in? %>
          <div class="like_button", id="like-btn-<%= post.id %>">
              <%= render 'goods/good', post: post %>
          </div>
        <% end %>
          <% if user_signed_in? && current_user.id == post.user_id%>
            <%= link_to "編集", edit_post_path(post.id), class:"btn-sm btn-dark"%>
            <%= link_to "削除", post_path(post.id), method: :delete, class:"btn-sm btn-dark"%>
          <% end %>
      </div>
      <%= link_to user_path(post.user.id),class: "user-name" do%>
      <i class="fas fa-running">：<%= post.user.name %></i>
      <% end %>
         <div class="message"><i class="far fa-sticky-note"></i><%= post.text %></div>
        <div class="create-time"><%= l post.created_at, format: :short %></div>
  </div>
</div>