<%= render "shared/header"%>
    
  <div class="container">
    <div class="form-wrapper">
    <%= render 'shared/error_messages', model: @post %>
      <%= form_with model: @post,url: post_path,local: true do |f| %>
        <div class="form-group">
          <%= f.label :"画像" %><br />
          <%= f.file_field :image  %>
        </div>

        <div class="form-group">
          <%= f.label :"文章" %><br />
          <%= f.text_area :text, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "編集する", class: "btn-sm btn-dark" %>
        </div>
      <% end %>
    </div>
  </div>

<%= render "shared/footer"%>