<%= render "shared/header"%>

<%# 投稿一覧%>
<div class="container">
  <div class="inner">
    <div class="card-wrapper">
    <% @posts.each do |post|%>
      <%= render partial: "shared/post", locals: { post: post }%>
    <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= link_to(new_post_path, class: 'post-btn') do %>
    <span class='post-btn-text'>投稿する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "post-btn-icon" %>
  <% end %>
<% end %>
</div>

<%= render "shared/footer"%>