<%= render "shared/header"%>

<%# 投稿一覧%>
<div class="container">
  <div class="inner">
    <div class="card-wrapper">
    <% @posts.each do |post|%>
      <div class ="card">
        <div class="image-body">
        <%= image_tag post.image, class: "image-size"%>
        </div>
        <div class="text-body">
          <div class="options">
          <% if user_signed_in? %>
            <%= link_to "いいね", "#", class:"btn btn-outline-danger"%>
          <% end %>
            <% if user_signed_in? && current_user.id == post.user_id%>
              <%= link_to "編集", edit_post_path(post.id), class:"btn btn-outline-dark"%>
              <%= link_to "削除", post_path(post.id), method: :delete, class:"btn btn-outline-dark"%>
            <% end %>
          </div>
          <div class="user-name"><%= post.user.name%></div>
          <div class="message"><%= post.text %></div>
          <div class="create-time"><%= post.created_at%></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= link_to(new_post_path, class: 'post-btn') do %>
    <span class='post-btn-text'>投稿する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "post-btn-icon" %>
  <% end %>
<% end %>
</div>

<%= render "shared/footer"%>