<%= render "shared/header"%>
<div class="container">
    <div class="detail-wrapper">
      <div class ="detail-card">
        <div class="image-body">
          <%= image_tag @post.image, class: "image-size" %>
        </div>
        <div class="text-body">
        <div class="options">
          <% if user_signed_in? %>
            <div class="like_button", id="like-btn-<%= @post.id %>">
              <%= render 'goods/good', post: @post %>
          </div>
          <% end %>
            <% if user_signed_in? && current_user.id == @post.user_id%>
              <%= link_to "編集", edit_post_path(@post.id), class:"btn-sm btn-dark"%>
              <%= link_to "削除", post_path(@post.id), method: :delete, class:"btn-sm btn-dark"%>
            <% end %>
        </div>
          <%= link_to @post.user.name, user_path(@post.user.id),class: "user-name"%>
        <div class="detail-message"><%= @post.text %></div>
          <% @post.tags.each do |tag| %>
          <div class="tags"><%= tag.name %></div>
         <% end %>
        <div class="create-time"><%= l @post.created_at, format: :short %></div>
      </div>
    </div>
    <div class="comment-wrapper">
      
     <%= form_with model: [@post,@comment], local: true do |f| %>
        <% if flash[:notice] %>
      <div class="error-messages">
        <%= flash[:notice] %>
      </div>
    <% end %>
        <div class="form-group">
          <%= f.label :"コメント" %><br />
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "コメントする", class: "btn-sm btn-dark" %>
        </div>
      <% end %>
      <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <%= link_to comment.user.name, user_path(@post.user.id), class: "user-name"%>
          <% if current_user.id == comment.user.id %>
          <%= link_to "削除", post_comment_path(@post.id, comment.id), method: :delete, class:"btn-sm btn-dark py-0"%>
          <% end %>
          <p><%= comment.comment%><p>
        </div>
      <% end %>
      </div>
    </div>
</div>


<%= render "shared/footer" %>